<!DOCTYPE html>
<html>
  <head>
    <title>관리자 계정 생성</title>
  </head>


  <body>
    <h1>관리자 계정 생성</h1>
    <form action="/admin/create" method="post"><br/>
      ID : <input type="text" name="aid"><br/>
      PW : <input type="password" name="apassword"><br/>
      name : <input type="text" name="aname"><br/>
      <input type="submit" value="생성">
    </form>
  </body>
</html>