<div class="wrapper wrapper-content animated fadeInRight">
  <div class="row">
    <div class="col-lg-12">
      <div class="text-center m-t-lg">
        <h1>메인 페이지</h1>
        <p>아이디 : <%=admin_member.admin_id%></p>
        <p>이름 : <%=admin_member.admin_name%></p>
        <p>회사코드 : <%=admin_member.company_code%></p>
        <p>부서명 : <%=admin_member.dept_name%></p>
      </div>
    </div>
  </div>
</div>


<script>

</script>