<!DOCTYPE html>
<html>
  <head>
    <title>관리자 로그인</title>
  </head>


  <body>

    <h1>관리자 로그인</h1>

    <form action="/login" method="post">

      ID :<input type="text" name="aid"><br/>
      PW :<input type="password" name="apassword"><br/>
      admin name :<input type="text" name="aname"><br/>
      <input type="submit">
      
    </form>

  </body>

</html>