
            <!--우측 콘텐츠 헤더영역 -->
            <div class="row wrapper border-bottom white-bg page-heading">
                <div class="col-lg-10">
                    <h2>관리자정보관리</h2>
                    <ol class="breadcrumb">
                        <li>
                            <a href="/">Home > </a>
                        </li>
                        <li>
                            <a>게시판 정보 관리 > </a>
                        </li>
                        <li class="active">
                            <strong>생성</strong>
                        </li>
                    </ol>
                </div>
                <div class="col-lg-2">

                </div>
            </div>

            <!--우측 콘텐츠 영역 -->
            <form action="/article/create" method="post">
                <div class="wrapper wrapper-content">
                    <div class="ibox-content m-b-sm border-bottom">
    
    
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label class="control-label">제목</label>
                                    <input type="text" class="form-control">
                                </div>
                            </div>
                            
                            </div>
                            <div class="row">
                            <div class="col-sm-4">
                                <div class="form-group">
                                <label class="control-label">작성자</label>
                                <input type="email" class="form-control">
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label class="control-label">게시판 유형</label>
                                    <select class="form-control">
                                        <option value="0">선택</option>
                                        <option value="1">공지 게시판</option>
                                        <option value="2">일반 게시판</option>
                                    </select>
                                </div>
                            </div>
    
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label class="control-label">게시글 유형</label>
                                    <select class="form-control">
                                        <option value="0">선택</option>
                                        <option value="1">상단 고정 게시글</option>
                                        <option value="2">일반 게시글</option>
                                    </select>
                                </div>
                            </div>
                        </div>
    
                        <div class="row">
    
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <label class="control-label">내용</label>
                                    <textarea class="form-control" rows="10" cols="5">내용을 입력하세요</textarea>
                                </div>
                            </div>
    
                        </div>

                        <div class="row">
    
                            <div class="col-sm-4">
                                <div class="form-group">
                                <label class="control-label">게시여부</label>
                                <select class="form-control">
                                    <option value="0">선택</option>
                                    <option value="1">게시됨</option>
                                    <option value="2">게시안됨</option>
                                </select>
                                </div>
                            </div>
    
                        </div>
    
    
                        <div class="text-center">
                            <button type="submit" class="btn btn-primary">생성</button>
                            <a href="/article/list" class="btn btn-info">목록</a>
                        </div>
    
                    </div>
                </div>

            </form>
