<!doctype html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <style>
      body {
        margin: 50px;
      }

      input {
        margin: 10px;
      }

      button {
        padding: 10px;
      }
    </style>
    <title>article - create</title>
  </head>
  <body>
    <h1>article - create</h1>
    <form action="/article/create" method="post"">
      게시글id: <input type="text" name="article_id" value="1" disabled /> <br />
      제목: <input type="text" name="title"  required /><br />
      내용: <br />
      <textarea cols="30" rows="10" name="contents" required></textarea><br />
      <button type="submit" >작성하기</button>
    </form>
  </body>
</html>
