<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>채팅 메시지 생성</title>
</head>
<body>
  <h1>채팅 메시지 생성</h1>

  <form method="post" action="/message/create">

    <input type="text" name="content" placeholder="메시지 내용" required>
    <button type="submit">메시지 생성</button>
  </form>
</body>
</html>
