
        <!--우측 콘텐츠 헤더영역 -->
        <div class="row wrapper border-bottom white-bg page-heading">
          <div class="col-lg-10">
            <h2>채널 정보 관리</h2>
            <ol class="breadcrumb">
              <li>
                <a href="/">Home > </a>
              </li>
              <li>
                <a>채널 정보 관리 ></a>
              </li>
              <li class="active">
                <strong>수정</strong>
              </li>
            </ol>
          </div>
          <div class="col-lg-2"></div>
        </div>

        <!--우측 콘텐츠 영역 -->
        <form action="/channel/create" method="post">
          <div class="wrapper wrapper-content">
            <div class="ibox-content m-b-sm border-bottom">
              <div class="row">
                <div class="col-sm-4">
                  <div class="form-group">
                    <label class="control-label">채널명</label>
                    <input
                      type="text"
                      class="form-control"
                      name="channel_name"
                      value="<%=channel.channel_name%>"
                    />
                  </div>
                </div>
                <div class="col-sm-4">
                  <div class="form-group">
                    <label class="control-label">채널코드</label>
                    <input
                      type="text"
                      class="form-control"
                      name="channel_code"
                      value="<%=channel.channel_code%>"
                    />
                  </div>
                </div>
                <div class="col-sm-4">
                  <div class="form-group">
                    <label class="control-label">대표이미지</label>
                    <input
                      type="file"
                      class="form-control"
                      name="channel_img_path"
                    />
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-12">
                  <div class="form-group">
                    <label class="control-label">채널 설명</label>
                    <input
                      type="text"
                      class="form-control"
                      name="channel_desc"
                      value="<%=channel.channel_desc%>"
                    />
                  </div>
                </div>
              </div>

              <div class="text-center">
                <button type="submit" class="btn btn-primary">저장</button>
                <button type="button" class="btn btn-danger" id="btnDelete">
                  삭제
                </button>
                <a href="/channel/list" class="btn btn-info">목록</a>
              </div>
            </div>
          </div>
        </form>
